# Created by .ignore support plugin (hsz.mobi)
/originIMG/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/mykeras.iml
.idea/preferred-vcs.xml
.idea/workspace.xml
/test_cut/
/splitIMG/
/splitIMG2/
